<!-- tinyhouses/index.html.erb -->
<div class="index-flex">
  <div class="index-cards">
  <%= render partial: '/shared/tinyhouse-card', locals: { tinyhouses: @tinyhouses } %>

  </div>

  <div class="map">
    <img id="map" src='https://cdn-images-1.medium.com/max/1600/0*yPSQlTHRvLaIVBcG.jpg'>
  </div>

</div>
