  <div class="container">
    <h1><%= @tinyhouse.title %></h1>
    <p><%= @tinyhouse.description %></p>
    <div class="photo-grid">
      <% @tinyhouse.photos.each_with_index do |photo, idx| %>
        <div class="photo-<%= idx + 1 %>">
          <%= cl_image_tag(photo.key, height: '250', crop: 'fill') %>
        </div>
      <% end %>
    </div>
  </div>

