<!-- trips/show.html.erb -->
<div class="dashboard-container">
  <div class="headers-flex d-flex" style="width:100%">
    <h3 style="margin-left:20px; margin-top: 30px;">Trips</h3>
  </div>

  <div class="tabs">
    <div id="tab1" onClick="JavaScript:selectTab(1);">Upcoming</div>
    <div id="tab2" onClick="JavaScript:selectTab(2);">Past</div>
  </div>

  <div class="underline-dashboard-trips-top"></div>
    <div id="tab1content">
      <%= render partial: '/shared/trip-card-dashboard', locals: { trips: @trips } %>
    </div>
    <div id="tab2content">
      <%= render partial: '/shared/past-trip-card-dashboard', locals: { trips: @trips } %>
    </div>
  <div class="underline-dashboard"></div>
</div>

<script type="text/javascript">
  function selectTab(tabIndex) {
    //Hide All Tabs
    document.getElementById('tab1content').style.display="none";
    document.getElementById('tab2content').style.display="none";

    //Show the Selected Tab
    document.getElementById('tab' + tabIndex + 'content').style.display="flex";
  }
</script>
