// Specific CSS for your home-page
.block-skewed {
  display:flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin: 80px 0;
  padding: 20px;
  position: relative;
  color:white;
  background: linear-gradient(
    to right,
    #77A5BB 0%,
    #BFD5DF 100%
  );
  box-shadow: 0 2px 10px #777;
  backface-visibility: hidden;
  transform: skew(0deg,3deg);
}

.wrapper-skewed {
  margin-bottom: 40px;
  margin-top: 40px;
  transform: skew(0deg,-3deg);
}

.button-width {
  width: 120px;
}

@media(max-width: 768px) {
  .wrapper-skewed {
    margin-left: 20px;
  }
}
