// Specific CSS for your home-page
.block-skewed {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  height: auto;
  width: 100%;
  margin: 120px 0;
  padding: 30px;
  position: relative;
  color: white;
  background: linear-gradient(to right, #91b6a9 0%, #b6cec6 100%);
  box-shadow: 0 1px 10px #777;
  backface-visibility: hidden;
  transform: skew(0deg, 2deg);
}

.wrapper-skewed {
  margin-bottom: 60px;
  margin-top: 40px;
  transform: skew(0deg, -2deg);
}

.button-width {
  width: 120px;
}

@media (max-width: 768px) {
  .wrapper-skewed {
    margin-left: 20px;
  }
}
