.photo-grid {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  grid-template-rows: repeat(2, 1fr);
  grid-column-gap: 15px;
  grid-row-gap: 15px;
  grid-template-areas: "photo-1 photo-1 photo-2 photo-3" "photo-1 photo-1 photo-4 photo-5";
  justify-content: center;
  height: 500px;
  border-radius: 20px;
  overflow: hidden;
}

.photo-1 {
  grid-area: photo-1;
}

.photo-2 {
  grid-area: photo-2;
}
.photo-3 {
  grid-area: photo-3;
}

.photo-4 {
  grid-area: photo-4;
}

.photo-5 {
  grid-area: photo-5;
}

.photo-1,
.photo-2,
.photo-3,
.photo-4,
.photo-5 {
  background-size: cover;
}

.mobile-only {
  display: none;
}

.show-right-part,
.show-left-part {
  margin-top: 40px;
}

.overview-section {
  margin-top: 20px;
  margin-bottom: 20px;
  padding-top: 10px;
}
.overview-section i {
  font-size: 16px;
  margin-right: 5px;
}
.overview-section h4 {
  font-weight: 600;
  font-size: 16px;
  line-height: 20px;
  margin-bottom: 4px;
}
.overview-section p {
  color: rgb(113, 113, 113);
  font-size: 14px;
  font-weight: 400;
  line-height: 20px;
}
.description {
  font-weight: 400 !important;
  font-size: 16px !important;
  line-height: 24px !important;
  word-break: break-word !important;
  margin-top: 20px;
  margin-bottom: 20px;
}
.amenities {
  margin-top: 20px;
  margin-bottom: 20px;
  margin-left: 30px;
  padding-top: 10px;
  justify-content: center;
}

hr {
  border-top: 1px solid $brand;
}

.amenities-grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: 1fr;
  grid-column-gap: 20px;
  grid-row-gap: 0px;
  text-align: left;
}

.amenities img {
  height: 24px;
  padding-right: 5px;
}

#price-tag {
  font-size: 22px;
  line-height: 26px;
  padding-top: 10px;
}

@media (max-width: 420px) {
  .photo-grid {
    display: none;
  }
  .mobile-only {
    display: block;
    margin: 0 auto;

    & img {
      border-radius: 30px !important;
    }
  }
  .amenities-grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .show-form {
    width: 100%;
  }
}
