// _tinyhousesindex.scss
.index-flex {
  display: flex;
}

.index-cards {
  display: grid;
  flex-grow: 1;
  padding-left: 80px;
  padding-right: 80px;
}

#map {
  height: 93vh;
  position: sticky;
  top: 0;
}

g { // picks the marker on the map.
  fill: #b14339;
}
