// _tinyhousesindex.scss
#map {
  height: 93vh;
  position: sticky;
  top: 0;
}

.index-flex {
  display: flex;
}

.index-cards {
  display: grid;
  flex-grow: 1;
  padding-left: 80px;
  padding-right: 80px;
}

g {
  fill: #b14339;
}
