// _tinyhousesindex.scss
.index-flex {
  display: flex;
}

.index-cards {
  display: grid;
  flex-grow: 1;
  padding-left: 80px;
  padding-right: 80px;
}

#map {
  height: 93vh;
  position: sticky;
  top: 0;
}

g { // picks the marker on the map.
  fill: #b14339;
}

@media(max-width: 420px) {
  .index-cards {
    display: none;
  }

  #map {
    height: 100vh;
    width:100vw;
    position: sticky;
    top: 0;
  }
}
