<!-- HERO -->
<div class="hero">
  <div class="hero-wrap">
    <div class="hero-text">
      <h1>
        Big Holidays in Tiny Houses!
      </h1>
      <p>
        Explore countless destinations and unique Tinyhouses!
      </p>
      <%= render partial: '/shared/search_bar_home', locals: { tinyhouses: @tinyhouses } %>
    </div>
  </div>
</div>
