<!-- HERO -->
<div class="hero">
  <div class="hero-text">
    <h1>
      Bored of humans?
    </h1>
    <%= render partial: '/shared/search_bar_home', locals: { tinyhouses: @tinyhouses } %>
  </div>
</div>
