<!-- home-cards.erb.html -->
<div class="d-flex justify-content-around">
  <div class="home-card">
    <img src="https://tinyhousetalk.com/wp-content/uploads/Timbercraft007.jpeg" alt="">
    <div class="home-card-text">
      <h1>
        I am a header
      </h1>
      <p>
        La di da
      </p>
    </div>
  </div>

  <div class="home-card">
    <img src="https://cdn.vox-cdn.com/thumbor/i9veUK0QX5XGwSeVBa6x8qzD-r0=/0x0:1500x1211/1200x800/filters:focal(645x555:885x795)/cdn.vox-cdn.com/uploads/chorus_image/image/62402645/farm2.0.jpg" alt="">
    <div class="home-card-text">
      <h1>
        I am a header
      </h1>
      <p>
        La di da
      </p>
    </div>
  </div>

  <div class="home-card">
    <img src="https://cdn.vox-cdn.com/thumbor/czYFN_szHoaPmDMCnrGHe-sAvdE=/0x416:7952x4889/1600x900/cdn.vox-cdn.com/uploads/chorus_image/image/54734685/Scarlett_20-_20Far_20Away.0.jpg" alt="">
    <div class="home-card-text">
      <h1>
        I am a header
      </h1>
      <p>
        La di da
      </p>
    </div>
  </div>
</div>
