<%= render 'shared/hero' %>
<h3 class="mt-5 text-center">Featured Tinyhouses</h3>
<%= render 'shared/home-cards' %>
<div class="content-skewed">
  <div class="block-skewed">
    <div class="wrapper-skewed">
      <p>LIMITED TIME OFFER</p>
      <p>DON'T MISS OUT ON THE EARLY BIRD DISCOUNT TO THE SECOND ANNUAL TINY HOUSE CONFERENCE</p>
      <p>REGISTER NOW AND SAVE €50!</p>
      <button class="form-button button-width">Learn more</button>
    </div>
  </div>
</div>
<%= render 'shared/footer' %>
