<%= render 'shared/hero' %>
<h3 class="mt-5 text-center">Featured Tinyhouses</h3>
<%= render 'shared/home-cards' %>
<div class="content-skewed">
  <div class="block-skewed">
    <div class="wrapper-skewed">
      <p>LIMITED TIME OFFER</p>
      <p>DON'T MISS OUT ON THE EARLY BIRD DISCOUNT TO THE SECOND ANNUAL TINY HOUSE CONFERENCE</p>
      <p>REGISTER NOW AND SAVE €50!</p>
      <button class="form-button button-width">Learn more</button>
    </div>
  </div>
</div>
<h3 class="mt-5 mb-5 text-center">The Tinyhouse movement</h3>
<p class="mt-3 text-center">With housing loans becoming harder to obtain and financial burdens on homeowners growing larger, many are turning to tiny houses to downsize their lives and budgets.</p>
<p class="mt-3 text-center">But while these compact castles are frequently fewer than 300 square feet, that doesn't mean that they're all about sacrificing luxury. You can still live large and enjoy life to the fullest while reducing your home's overall footprint.</p>
<p class="mt-3 mb-5 text-center"> Check out our amazing Tinyhouses for some awesome examples of what can be accomplished with hard work, a small budget, and a tiny space...</p>
<div class="d-flex justify-content-center mb-5">
  <%= render 'shared/search_bar_home' %>
</div>
<%= render 'shared/footer' %>
