// _footer.scss

footer {
  border-top: 1px #6B2312 solid;
  height: 120px;
}

.footer-wrapper {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
}

.footer-right {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;

  a {
    color: #6B2312;
  }
}

.footer-left {
  display: flex;
  margin-left: 40px;

  a {
    color: #6B2312;
    margin-left: 10px;
    margin-right: 10px;
  }
}

.footer-copyright {
  display: flex;
  justify-content: center;
}
