// _hero.scss
.hero {
  background-image: url("https://slack-imgs.com/?c=1&o1=ro&url=https%3A%2F%2Fmorningchores.com%2Fwp-content%2Fuploads%2F2018%2F11%2FM1_EXT-1.jpg");
  height: 75vh;
  width: 100vw;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  position: relative;
  // top: 0;
}

.hero-text {
  color: #191d29;
  position: absolute;
  top: 20%;
  left: 90px;
}

@media (max-width: 420px) {
  .hero-wrap {
    width: 80%;
    margin: 0 auto;
  }
  .hero-text {
    left: 30px;
  }
}
