// _info.window.scss

.mapboxgl-popup {
  width: 230px;
}

.mapboxgl-popup-content {
  padding: 0;
  // border: 1px solid transparent;
  border-radius: 15px;
  box-shadow: 5px 5px 5px 0px rgba(0, 0, 0, 0.25);

  p {
    margin-bottom: 1px;
  }
}

.info-window-text {
  padding: 20px 20px 10px 20px;
  line-height: 2;
}

.info-window-test {
  width: 100%;
  background-size: cover;
}
