// .navbar {
//   position: fixed;
//   top: 0;
// }

.navbar-space-between {
  justify-content: space-between;
  background: transparent;
  transition: 0.5s background-color ease; // TO DO: turn navbar white when scroll > hero
}

.navbar-space-between .navbar-collapse {
  flex-grow: 0;
}

.navbar-space-between .navbar-brand img {
  width: 40px;
}
.navbar-lewagon-white {
  background-color: white !important;
  height: 60px !important;
}
