.photo-grid {
display: grid;
grid-template-columns: repeat(4, 1fr);
grid-template-rows: repeat(2, 1fr);
grid-column-gap: 15px;
grid-row-gap: 15px;
}

.photo-1 { grid-area: 1 / 1 / 3 / 3; }
.photo-2 { grid-area: 1 / 3 / 2 / 4; }
.photo-3 { grid-area: 1 / 4 / 2 / 5; }
.photo-4 { grid-area: 2 / 4 / 3 / 5; }
.photo-5 { grid-area: 2 / 3 / 3 / 4; }
