// _tinyhouse-card.scss //

.carousel-custom-styles {
  border-radius: 10px ;
  overflow: hidden;
}

.slide {
  width: 200px;
}

.index-card {
  border: 1px solid $brand;
  border-radius: 10px;
  overflow: hidden;
  margin-bottom: 20px;
  width: 500px;
  height: 150px;
}

.card-text {
  p {
    font-size: 12px;
  }
}

.card-flexbox {
  height: 100%;
}

.test {
  height: 100px;
  object-fit: cover;
}
