// _tinyhouse-card.scss //

.index-card {
  border: 1px solid $brand;
  border-radius: 10px;
  box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
  overflow: hidden;
  margin-bottom: 20px;
  width: 500px;
  height: 150px;
}

.carousel-custom-styles {
  border-radius: 10px ;
  overflow: hidden;
}

.slide {
  width: 200px;
  margin-left: 10px;
}


.card-text {
  padding: 25px;

  p {
    font-size: 12px;
  }
}

.card-flexbox {
  height: 100%;
}

.test {
  height: 130px;
  object-fit: cover;
}
